.wrap__add-some {
    min-width: 320px;
    width: 100%;
    position: relative;
}
.add-some {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}
.add-some__title {
    text-align: center;
    margin: 30px 10px;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    padding: 20px;
}
.add-some__img-welcome {
    float:right;
    width: 35%;
    margin-right:20px;
}
.form {
    margin-top: 10px;
    margin-right: 20px;
}
.form__row {
    max-width: 350px;
}
.form__button{
    display: flex;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    min-width: 250px;
    margin:  10px 10px 0 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.form__button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 630px) {
    .form__title {
        font-size: 28px;
        margin: 30px 5px;
    }
    .form__button {
        font-size: 12px;
        padding: 10px 10px;
    }
    .add-some__img-welcome {
        width: 0%;
    }
}